@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); /*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html, body {
  font-size: 62.5%;
}

@media (max-width: 108em) {
  html {
    font-size: 9px;
  }
}
@media (max-width: 105em) {
  html {
    font-size: 8.75px;
  }
}
@media (max-width: 91.5em) {
  html {
    font-size: 7.9px;
  }
}
@media (max-width: 91em) {
  html {
    font-size: 8.4px;
  }
}
@media (max-width: 90em) {
  html {
    font-size: 7.9px;
  }
}
@media (max-width: 80em) {
  html {
    font-size: 7.2px;
  }
}
@media (max-width: 72em) {
  html {
    font-size: 6.5px;
  }
}
@media (max-width: 64em) {
  html {
    font-size: 5.5px;
  }
}
@media (max-width: 48em) {
  html {
    font-size: 10px;
    -webkit-text-size-adjust: none;
  }
}
@media (max-width: 44em) {
  html {
    font-size: 9px;
  }
}
@media (max-width: 38em) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 30em) {
  html {
    font-size: 6px;
  }
}
@media (max-width: 26em) {
  html {
    font-size: 4.5px;
  }
}
@media (max-width: 21em) {
  html {
    font-size: 4.4px;
  }
}
.main {
  font-size: 5rem;
  max-width: 192rem;
  margin: auto;
  padding-top: 10rem;
}

* {
  font-family: Roboto;
}

body {
  overflow-x: hidden;
}

input {
  width: 100%;
}

section {
  position: relative;
}

textarea, input, button {
  font-size: inherit;
}

canvas {
  position: relative;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0);
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.container {
  max-width: 100rem;
  padding: 0 3rem;
  margin: auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: #0d0e12;
  color: #A6B8E1;
}
.header input {
  color: #A6B8E1;
}
.header .container {
  max-width: 192rem;
}

.main > section:nth-child(odd) {
  background-color: #533332;
}

.controllers {
  border-radius: 3rem;
  font-size: 5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
}
.controllers__font-size {
  background: transparent;
  width: 100%;
  flex: 0 1 25rem;
  text-align: center;
  padding: 0 1rem;
}
.controllers__btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2F70AF;
  border: 0.2rem solid #A6B8E1;
  flex: 0 0 6rem;
  height: 6rem;
  border-radius: 50%;
}

.meme-1 {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  padding: 10rem 0 10rem;
}
.meme-1__grid {
  background-color: white;
  margin-bottom: 3rem;
  max-width: 100%;
  display: grid;
  grid-template: auto auto/repeat(2, 1fr);
  justify-content: center;
}
.meme-1__grid-item {
  border: 0.1rem solid #000;
  overflow: hidden;
}
.meme-1__textarea-container {
  width: 100%;
  height: 100%;
  display: flex;
}
.meme-1__textarea {
  cursor: pointer;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
  text-align: center;
  padding: 2rem;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.meme-1__label {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: block;
  aspect-ratio: 1/1;
}
.meme-1__label input {
  position: absolute;
  z-index: -112123;
  width: 0;
  height: 0;
  opacity: 0;
}
.meme-1__download {
  font-size: 4rem;
  cursor: pointer;
  background: rgb(11, 105, 74);
  color: white;
  display: inline-block;
  padding: 2rem 4rem;
  margin: auto;
  border-radius: 2rem;
}