@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "_nullstyle";
@import "_mysettings";

.main {
	font-size: 5rem;
	max-width: 192rem;
	margin: auto;
	padding-top: 10rem;
}
*{
	font-family: Roboto;
}
body {
	overflow-x: hidden;
}
input {
	width: 100%;
}
section {
	position: relative;
}
textarea, input, button {
	font-size: inherit;
}
canvas {
	position: relative;
	top: 0%;
	left: 50%;
	transform: translate(-50%, 0);
}
.ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	
	img {
		width: 0;
		height: 0;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		visibility: hidden;
	}
}
.container {
	max-width: 100rem;
	padding: 0 3rem;
	margin: auto;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	background: rgb(145, 7, 145);
	.container {
		max-width: 192rem;
	}
}


.controllers {
	//background: rgb(66, 100, 121);
	border-radius: 3rem;
	font-size: 5rem;
	user-select: none;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 10rem;
	
	&__font-size {
		background: transparent;
		width: 100%;
		flex: 0 1 25rem;
		text-align: center;
		padding: 0 1rem;
	}
	&__btn-minus {
	}
	&__btn {
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		background: rgb(7, 129, 119);
		border: 0.2rem solid rgb(1, 41, 73);
		flex: 0 0 6rem;
		height: 6rem;
		border-radius: 50%;
	}
}

.meme-1 {
	user-select: none;
	text-align: center;
	margin: 10rem 0 10rem;

	&__grid {
		margin-bottom: 3rem;
		max-width: 100%;
		display: grid;
		grid-template: auto auto / repeat(2, 1fr);
		justify-content: center;
	}

	&__grid-item {
		border: 0.1rem solid #000;
		overflow: hidden;
	}

	&__textarea-container {
		width: 100%;
		height: 100%;
		display: flex;
	}
	
	&__textarea {
		cursor: pointer;
		user-select: text;
		text-align: center;
		padding: 2rem;
		width: 100%;
		overflow: hidden;
		resize: none;
	}

	&__label {
		width: 100%;
		height: 100%;
		display: block;
		aspect-ratio: 1/1;

		input {
			position: absolute;
			z-index: -112123;
			width: 0;
			height: 0;
			opacity: 0;
		}
	}
	&__download {
		font-size: 4rem;
		cursor: pointer;
		background: rgb(11, 105, 74);
		color: white;
		display: inline-block;
		padding: 2rem 4rem;
		margin: auto;
		border-radius: 2rem;
	}
}